<dashboard-container>
  <!-- header -->
  <dashboard-topbar>
    <!-- page title -->
    <h1 class="text-white text-xl font-bold">
      Configurar Clubhouse
    </h1>

    <!-- saved text
      <span class="uppercase text-white text-sm font-bold">
        <ng-container *ngIf="saved; else savingTemplate">
          Guardado <i class="far fa-save"></i>
        </ng-container>
        <ng-template #savingTemplate>
          <i class=" animate-spin fas fa-spinner"></i>
        </ng-template>
      </span>
    -->
  </dashboard-topbar>


  <!-- main content of page -->
  <div class="w-full p-8 flex flex-col gap-8">
    <h3>Próximamente...</h3>
  </div>
</dashboard-container>
