<dashboard-container>
  <!-- header -->
  <dashboard-topbar>
    <!-- page title -->
    <h1 class="text-white text-xl font-bold">
      Configurar Encuentros Clubhouse
    </h1>

    <!-- saved text -->
    <span class="uppercase text-white text-sm font-bold">
      <ng-container *ngIf="saved; else savingTemplate">
        Guardado <i class="far fa-save"></i>
      </ng-container>
      <ng-template #savingTemplate>
        <i class=" animate-spin fas fa-spinner"></i>
      </ng-template>
    </span>
  </dashboard-topbar>


  <!-- main content of page -->
  <form [formGroup]="form" class="w-full p-8 flex flex-col gap-8">
    <!-- form group -->
    <div dashboard-form-group>
      <!-- label -->
      <label dashboard-form-label>
        Tema de la Actividad
      </label>

      <!-- explanation -->
      <span class="text-white text-base">
        La tematica se encuentra ligada al titulo de la <a routerLink="../historia"
          class="bg-gray px-2 py-1 cursor-pointer">introduccion Tematica</a>
      </span>
    </div>
  </form>
</dashboard-container>
