<dashboard-sidebar>
  <h3 dashboard-sidebar-section-name>
    Plataforma
  </h3>

  <!-- Players -->
  <a dashboard-sidebar-item>
    Jugadores
  </a>

  <!-- divide cities from other content -->
  <dashboard-sidebar-divider></dashboard-sidebar-divider>

  <!-- cities section name -->
  <h3 dashboard-sidebar-section-name>Etapas, Ciudades</h3>

  <a dashboard-sidebar-item routerLink="/bienvenida" routerLinkActive #welcome="routerLinkActive"
    [active]="welcome.isActive">
    0. Bienvenida
  </a>

  <!-- display all cities -->
  <a *ngFor="let city of cities$ |async; let i = index" dashboard-sidebar-item [routerLink]="['/ciudades', city.id]"
    routerLinkActive #cityRoute="routerLinkActive" [active]="cityRoute.isActive">
    {{i + 1}}. {{city.name}}
  </a>

  <!-- divide cities from other content -->
  <dashboard-sidebar-divider></dashboard-sidebar-divider>

  <h3 dashboard-sidebar-section-name>
    Configuración
  </h3>
  <!-- app conf -->
  <a dashboard-sidebar-item routerLink="/video-introduccion" routerLinkActive #startVideo="routerLinkActive"
    [active]="startVideo.isActive">
    Placa Video Introductorio
  </a>

  <!-- app conf -->
  <a dashboard-sidebar-item routerLink="/ficha-equipo" routerLinkActive #team="routerLinkActive" [active]="team.isActive">
    Ficha del Equipo
  </a>

  <!-- activities -->
  <a dashboard-sidebar-item routerLink="/actividades" routerLinkActive #activities="routerLinkActive"
    [active]="activities.isActive">
    Descripción Actividades
  </a>

  <!-- app conf -->
  <a dashboard-sidebar-item routerLink="/explicacion-puntos" routerLinkActive #pointsExplanation="routerLinkActive"
    [active]="pointsExplanation.isActive">
    Explicación Puntos
  </a>
  <!-- app conf -->
  <a dashboard-sidebar-item routerLink="/configuracion" routerLinkActive #appConf="routerLinkActive"
    [active]="appConf.isActive">
    configuración de la Aplicación
  </a>

  <!-- Questions -->
  <a dashboard-sidebar-item routerLink="/competencias" routerLinkActive #competences="routerLinkActive"
    [active]="competences.isActive">
    Competencias Duras y Blandas
  </a>
</dashboard-sidebar>
