<dashboard-container>
  <!-- header -->
  <dashboard-topbar>
    <!-- page title -->
    <h1 class="text-white text-xl font-bold">
      Configurar Objetivos e Ideas Desaprender
    </h1>

    <!-- saved text -->
    <span class="uppercase text-white text-sm font-bold">
      <ng-container *ngIf="saved; else savingTemplate">
        Guardado <i class="far fa-save"></i>
      </ng-container>
      <ng-template #savingTemplate>
        <i class=" animate-spin fas fa-spinner"></i>
      </ng-template>
    </span>
  </dashboard-topbar>


  <!-- main content of page -->
  <form [formGroup]="form" class="w-full p-8 flex flex-col gap-8">

    <!-- form group -->
    <div dashboard-form-group>
      <!-- label -->
      <label dashboard-form-label>
        Objetivo Principal
      </label>

      <!-- input text -->
      <input formControlName="mainObjective"
        class="px-4 py-4 text-gray-700 bg-white text-sm focus:outline-none focus:shadow-outline w-full ">
    </div>

    <!-- content -->
    <div dashboard-form-group formArrayName="ideas">
      <!-- label -->
      <label dashboard-form-label>
        Ideas para desaprender
        <button dashboard-form-label-action type="button" (click)="removeIdeas()" class="bg-red">
          <i class="fas fa-trash text-white"></i>
        </button>
        <button dashboard-form-label-action type="button" (click)="addIdeas()" class="bg-green">
          <i class="fas fa-plus text-white"></i>
        </button>
      </label>

      <!-- explanation -->
      <span class="text-white text-base">
        Una a dos ideas para desaprender
      </span>

      <!-- input text -->
      <textarea *ngFor="let control of ideasArray.controls; let idx = index" [formControlName]="idx" rows="3"
        class="px-4 py-4 text-gray-700 bg-white text-sm focus:outline-none focus:shadow-outline w-full "></textarea>
    </div>
    <!-- competences -->
    <div *ngIf="competencesGroup" dashboard-form-group formGroupName="competences">
      <!-- label -->
      <h3 dashboard-form-label>
        Competencias
      </h3>

      <!-- explanation -->
      <span class="text-white text-base">
        Selecciona una a dos competencias duras (currículum oculto) y una a dos competencias blandas (currículum oculto)
        a alcanzar.
        <br>
        <b>Nota:</b> Unicamente aparecerán las competencias con nombre, para agregar una nueva competencia accede a la
        <a routerLink="/competencias" class="underline">configuración de competencias</a> </span>

      <!-- all competences -->
      <label *ngFor="let competence of competences$|async" class="flex flex-row gap-4 items-center">
        <ng-container *ngIf="competencesGroup.controls[competence.id]">

          <input type="checkbox" [formControlName]="competence.id">
          <span class="text-white uppercase font-semibold">
            {{competence.name}} - {{competence.kind === 'COMPETENCE#HARD' ? 'Competencia Dura': 'Competencia Suave'}}
          </span>
        </ng-container>
      </label>
    </div>
  </form>

</dashboard-container>
