<dashboard-container>
  <!-- header -->
  <dashboard-topbar>
    <!-- page title -->
    <h1 class="text-white text-xl font-bold">
      Configurar Actividad de contribucion
    </h1>

    <!-- saved text -->
    <span class="uppercase text-white text-sm font-bold">
      <ng-container *ngIf="saved; else savingTemplate">
        Guardado <i class="far fa-save"></i>
      </ng-container>
      <ng-template #savingTemplate>
        <i class=" animate-spin fas fa-spinner"></i>
      </ng-template>
    </span>
  </dashboard-topbar>


  <!-- main content of page -->
  <form [formGroup]="form" class="w-full p-8 flex flex-col gap-8">
    <!-- form group -->
    <div dashboard-form-group>
      <!-- label -->
      <label dashboard-form-label>
        Tema de la Actividad (Contribución)
      </label>

      <!-- input text -->
      <input type="text" formControlName="theme"
        class="px-4 py-4 text-gray-700 bg-white text-sm focus:outline-none focus:shadow-outline w-full">
    </div>

    <!-- form group -->
    <div dashboard-form-group>
      <!-- label -->
      <label dashboard-form-label>
        Explicación de la actividad
      </label>

      <!-- explanation -->
      <span class="text-white text-base">
        Corta explicación que describa la actividad.
      </span>

      <!-- input text -->
      <dashboard-textarea [control]="form.controls.explanation"></dashboard-textarea>
    </div>

    <!-- IMAGE form control -->
    <div dashboard-form-group>
      <!-- label -->
      <h3 dashboard-form-label>
        Contribuciones permitidas
      </h3>

      <!-- explanation -->
      <span class="text-white text-base">
        Selecciona que tipos de contribuciones estan disponibles en esta sección
      </span>

      <label class="flex flex-row gap-4 items-center">
        <input type="checkbox" formControlName="allowIdea">
        <span class="text-white uppercase font-semibold">
          Agregar Idea
        </span>
      </label>
      <label class="flex flex-row gap-4 items-center">
        <input type="checkbox" formControlName="allowLecture">
        <span class="text-white uppercase font-semibold">
          Agregar Lectura
        </span>
      </label>
      <label class="flex flex-row gap-4 items-center">
        <input type="checkbox" formControlName="allowProject">
        <span class="text-white uppercase font-semibold">
          Agregar Proyecto
        </span>
      </label>
    </div>
  </form>
</dashboard-container>
