<div class="relative w-full aspect-w-16 aspect-h-9 overflow-hidden bg-gray">
  <div class="w-full h-full">
    <div class="relative w-full h-full">
      <!-- Background in case no video is available -->
      <ng-container *ngIf="video?.url as url; else noVideo">
        <span class="absolute inset-0 object-cover z-2 w-full h-full">
          <video class="w-full h-full" [src]="url" controls></video>
        </span>
      </ng-container>

      <!-- video player in case of video -->
      <ng-template #noVideo>
        <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <i class="fas fas fa-video text-6xl text-gray-600"></i>
        </span>
      </ng-template>

      <!-- processed badge -->
      <div class="absolute top-6 left-6 z-3">
        <div class="p-2 bg-black">
          <div class="flex flex-row gap-2" *ngIf="betterVideo$ | async as betterVideo; else notProcessed ">
            <span class="text-black p-1 rounded-sm capitalize font-bold text-xs bg-white"
              *ngIf="!!betterVideo.sdUrl">SD</span>
            <span class="text-black p-1 rounded-sm capitalize font-bold text-xs bg-white"
              *ngIf="!!betterVideo.hdUrl">HD</span>
            <span class="text-black p-1 rounded-sm capitalize font-bold text-xs bg-white"
              *ngIf="!!betterVideo.previewUrl">Preview</span>
          </div>

          <ng-template #notProcessed>
            <div class="text-white">
              <i class="fas fa-video-slash"></i> Procesando...
            </div>
          </ng-template>
        </div>
      </div>

      <!-- Upload button -->
      <div class="absolute top-6 right-6 z-3">
        <!-- progress bar -->
        <ng-container *ngIf="progress; else uploadInput">
          <div class="px-4 py-2 bg-black  relative overflow-hidden">

            <!-- background progress -->
            <div class="absolute bg-primary top-0 bottom-0 left-0 transition-all duration-150 z-2"
              [ngStyle]="{width: progress?.percentage+'%'}"></div>

            <div class="relative h-full text-white text-xs font-bold  flex justify-center items-center z-3 p-2 flex-col">
              {{progress?.percentage}}%
            </div>
          </div>
          </ng-container>

        <!-- template text to upload the asset -->
        <ng-template #uploadInput>

          <!-- input with a upload event -->
          <div class="px-4 py-2 bg-black">
            <label class="cursor-pointer h-full text-white text-md flex justify-center items-center">
              <input class="hidden" type="file" accept="video/*" (change)="upload($event)">

              <!-- icon -->
              <i class="fas fa-video" title="Subir Video"></i>

              <!-- text -->
              <span class="ml-2 text-xs uppercase font-semibold">
                Subir Video
              </span>
            </label>
            </div>
            </ng-template>
            </div>
            </div>
  </div>
</div>
