<dashboard-sidebar-layout>
  <dashboard-sidebar>
    <h2 dashboard-sidebar-header>Laboratorio Móvil 2222</h2>
    <h3 dashboard-sidebar-section-name>Ciudades</h3>
    <a dashboard-sidebar-item [routerLink]="['/inicio']" routerLinkActive #home="routerLinkActive"
      [active]="home.isActive">Quitu</a>
    <a dashboard-sidebar-item>Azatlan</a>
    <dashboard-sidebar-divider></dashboard-sidebar-divider>
    <a dashboard-sidebar-item>Lecturas Recomendadas</a>
  </dashboard-sidebar>
  <dashboard-sidebar>
    <h3 dashboard-sidebar-header>Acciones</h3>
  </dashboard-sidebar>
  asdsdfg w
</dashboard-sidebar-layout>
