<dashboard-sidebar *ngIf="cityId$ | async as city">

  <h2 dashboard-sidebar-header>
    {{ city }}
  </h2>
  <a dashboard-sidebar-item [routerLink]="['/ciudades', 'introduccion', city]" routerLinkActive
    #introduction="routerLinkActive" [active]="introduction.isActive">
    Introducción
  </a>

  <a dashboard-sidebar-item [routerLink]="['/ciudades', 'historia', city]" routerLinkActive #history="routerLinkActive"
    [active]="history.isActive">
    Historia
  </a>

  <a dashboard-sidebar-item [routerLink]="['/ciudades', 'argumentacion', city]" routerLinkActive
    #argument="routerLinkActive"
    [active]="argument.isActive">
    Argumentación Principal
  </a>

  <a dashboard-sidebar-item [routerLink]="['/ciudades', 'objetivos', city]" routerLinkActive #objective="routerLinkActive"
    [active]="objective.isActive">
    Objetivos
  </a>

  <a dashboard-sidebar-item [routerLink]="['/ciudades', 'contenido', city]" routerLinkActive #content="routerLinkActive"
    [active]="content.isActive">
    Videos y Podcast
  </a>

  <a dashboard-sidebar-item [routerLink]="['/ciudades', 'recursos', city]" routerLinkActive #resources="routerLinkActive"
    [active]="resources.isActive">
    Lecturas y Recursos Online
  </a>

  <a dashboard-sidebar-item [routerLink]="['/ciudades', 'actividades', city]" routerLinkActive
    #activities="routerLinkActive" [active]="activities.isActive">
    Actividades
  </a>

  <a dashboard-sidebar-item [routerLink]="['/ciudades', 'clubhouse', city]" routerLinkActive #clubhouse="routerLinkActive"
    [active]="clubhouse.isActive">
    Encuentros Clubhouse
  </a>
</dashboard-sidebar>
