<!-- make nav container full height and style outside box -->
<nav class="relative h-full overflow-x-auto shadow-lg bg-white md:w-72 z-10 ">

  <!-- navbar content is scroll-able -->
  <div class="w-full h-full flex flex-col items-stretch justify-start py-4 px-6 overflow-y-auto">

    <!-- Sidebar header name -->
    <ng-content select="[dashboard-sidebar-header]"></ng-content>

    <!-- other content -->
    <ng-content select="[dashboard-sidebar-section-name],dashboard-sidebar-divider,[dashboard-sidebar-item]">
    </ng-content>

  </div>
</nav>
