<div class="h-screen flex flex-row overflow-hidden">

  <!-- sidebar -->
  <ng-content select="dashboard-sidebar, dashboard-main-sidebar, dashboard-cities-sidebar"></ng-content>

  <!-- main content of dashboard -->
  <main class="relative min-h-screen flex-grow bg-primary overflow-x-auto">

    <!-- scroll content -->
    <div class="relative z-0 w-full h-full max-w-6xl mx-auto flex flex-col px-8">

      <!-- dashboard navigation bar -->
      <div class="w-full sticky top-0 z-20">
        <ng-content select="dashboard-topbar"></ng-content>
      </div>

      <!-- main content -->
      <ng-content></ng-content>

      <!-- footer section -->
      <ng-content select="dashboard-footer"></ng-content>
    </div>
  </main>
</div>
