<div class="h-screen flex flex-row overflow-hidden">

  <!-- sidebar -->
  <ng-content select="dashboard-sidebar, dashboard-main-sidebar, dashboard-cities-sidebar"></ng-content>

  <!-- main content of dashboard -->
  <main class="relative min-h-screen flex-grow bg-primary">

    <!-- dashboard navigation bar  -->
    <ng-content select="dashboard-navbar"></ng-content>

    <!-- scroll content -->
    <div class="relative z-0 overflow-x-auto w-full h-full">

      <!-- main content -->
      <ng-content></ng-content>

      <!-- footer section -->
      <ng-content select="dashboard-footer"></ng-content>
    </div>
  </main>
</div>
