<dashboard-sidebar-layout>
  <!-- main sidebar container -->
  <dashboard-main-sidebar></dashboard-main-sidebar>

  <!-- cities container -->
  <dashboard-cities-sidebar></dashboard-cities-sidebar>

  <!-- header -->
  <dashboard-topbar>
    <!-- page title -->
    <h1 class="text-white text-xl font-bold">
      Configurar Introducción
    </h1>

    <!-- saved text -->
    <span class="uppercase text-white text-sm font-bold">
      <ng-container *ngIf="saved; else savingTemplate">
        Guardado <i class="far fa-save"></i>
      </ng-container>
      <ng-template #savingTemplate>
        <i class=" animate-spin fas fa-spinner"></i>
      </ng-template>
    </span>
    </dashboard-topbar>


  <!-- main content of page -->
  <div class="w-full p-8 flex flex-col">
    <form [formGroup]="informationForm">
      <!-- form group -->
      <div class="relative flex flex-col w-full gap-4 items-start">
        <!-- label -->
        <label class="uppercase text-white text-xs font-bold px-4 py-2 bg-black">
          Texto Introductorio
        </label>

        <!-- explanation -->
        <span class="text-white text-base">
          Texto que se mostrara en la pantalla inicial de cada ciudad.
        </span>

        <!-- input text -->
        <textarea formControlName="description" rows="6"
          class="px-4 py-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"></textarea>
        </div>
    </form>
  </div>

</dashboard-sidebar-layout>
