<dashboard-container>
  <!-- header -->
  <dashboard-topbar>
    <!-- page title -->
    <h1 class="text-white text-xl font-bold">
      Configurar Introducción Ciudad
    </h1>

    <!-- saved text -->
    <span class="uppercase text-white text-sm font-bold">
      <ng-container *ngIf="saved; else savingTemplate">
        Guardado <i class="far fa-save"></i>
      </ng-container>
      <ng-template #savingTemplate>
        <i class=" animate-spin fas fa-spinner"></i>
      </ng-template>
    </span>
  </dashboard-topbar>


  <!-- main content of page -->
  <form [formGroup]="informationForm" class="w-full p-8 flex flex-col">
    <!-- form group -->
    <div dashboard-form-group>
      <!-- label -->
      <label dashboard-form-label>
        Texto Introductorio
      </label>

      <!-- explanation -->
      <span class="text-white text-base">
        Texto que se mostrara en la pantalla inicial de cada ciudad.
      </span>

      <!-- input text -->
      <textarea formControlName="description" rows="12"
        class="px-4 py-4 placeholder-gray-400 text-gray-700 bg-white  text-sm  focus:outline-none  w-full "></textarea>
    </div>
    </form>
</dashboard-container>
