<dashboard-sidebar *ngIf="cityConf$ | async as cityConf">

  <h2 dashboard-sidebar-header>
    {{ cityConf.name }}
  </h2>
  <!--  -->
  <a dashboard-sidebar-item [routerLink]="['/ciudades', cityConf.id,'video-introductorio']" routerLinkActive
    #introductoryVideo="routerLinkActive" [active]="introductoryVideo.isActive"
    [routerLinkActiveOptions]="{exact: true}" *ngIf="cityConf.enabledPages?.introductoryVideo">
    Placa Introductoria
  </a>

  <!--  -->
  <a dashboard-sidebar-item [routerLink]="['/ciudades', cityConf.id,'introduccion']" routerLinkActive
    #introduction="routerLinkActive" [active]="introduction.isActive" [routerLinkActiveOptions]="{exact: true}">
    Introducción Ciudad
  </a>

  <!--  -->
  <a dashboard-sidebar-item [routerLink]="['/ciudades', cityConf.id,'historia']" routerLinkActive
    #history="routerLinkActive" [active]="history.isActive">
    Introducción Temática
  </a>

  <a dashboard-sidebar-item [routerLink]="['/ciudades', cityConf.id,'viñeta']" routerLinkActive
    #monster="routerLinkActive" [active]="monster.isActive">
    Viñeta
  </a>

  <a dashboard-sidebar-item [routerLink]="['/ciudades', cityConf.id,'argumentacion']" routerLinkActive
    #argument="routerLinkActive" [active]="argument.isActive" *ngIf="cityConf.enabledPages?.argumentation">
    Argumentación Principal & Preguntas
  </a>

  <a dashboard-sidebar-item [routerLink]="['/ciudades', cityConf.id,'objetivo']" routerLinkActive
    #objective="routerLinkActive" [active]="objective.isActive">
    Obj / Ideas desaprender
  </a>


  <a dashboard-sidebar-item [routerLink]="['/ciudades', cityConf.id,'contenido']" routerLinkActive
    #content="routerLinkActive" [active]="content.isActive">
    Videos y Podcast
  </a>

  <a dashboard-sidebar-item [routerLink]="['/ciudades', cityConf.id,'recursos']" routerLinkActive
    #resources="routerLinkActive" [active]="resources.isActive" *ngIf="cityConf.enabledPages?.resources">
    Lecturas y Recursos Online
  </a>

  <!--  -->
  <a dashboard-sidebar-item [routerLink]="['/ciudades', cityConf.id, 'video-proyecto']" routerLinkActive
    #projectVideo="routerLinkActive" [active]="projectVideo.isActive" [routerLinkActiveOptions]="{exact: true}"
    *ngIf="cityConf.enabledPages?.projectVideo">
    Placa Hackaton del Proyecto
    </a>

    <!--  -->
    <a dashboard-sidebar-item [routerLink]="['/ciudades', cityConf.id, 'video-manual']" routerLinkActive
      #manualVideo="routerLinkActive" [active]="manualVideo.isActive" [routerLinkActiveOptions]="{exact: true}"
      *ngIf="cityConf.enabledPages?.manualVideo">
      Placa descarga manual
  </a>

  <dashboard-sidebar-divider *ngIf="cityConf.enabledPages?.activities"></dashboard-sidebar-divider>

  <h2 dashboard-sidebar-section-name *ngIf="cityConf.enabledPages?.activities">
    Actividades de la ciudad
  </h2>

  <a *ngIf="cityConf.enabledPages?.activities && cityConf.enabledPages?.questionary" dashboard-sidebar-item
    [routerLink]="['/ciudades', cityConf.id,'cuestionario']" routerLinkActive #questionary="routerLinkActive"
    [active]="questionary.isActive">
    Cuestionario Multiple Choice
  </a>

  <a *ngIf="cityConf.enabledPages?.activities && cityConf.enabledPages?.project" dashboard-sidebar-item
    [routerLink]="['/ciudades', cityConf.id,'proyecto']" routerLinkActive #project="routerLinkActive"
    [active]="project.isActive">
    Proyecto Docente
  </a>

  <a *ngIf="cityConf.enabledPages?.activities && cityConf.enabledPages?.clubhouse" dashboard-sidebar-item
    [routerLink]="['/ciudades', cityConf.id,'clubhouse']" routerLinkActive #clubhouse="routerLinkActive"
    [active]="clubhouse.isActive">
    Encuentros Clubhouse
  </a>

  <dashboard-sidebar-divider></dashboard-sidebar-divider>

  <a dashboard-sidebar-item [routerLink]="['/ciudades', cityConf.id,'configuracion']" routerLinkActive
    #configuration="routerLinkActive" [active]="configuration.isActive">
    Configuración
  </a>
</dashboard-sidebar>
