<dashboard-container>
  <!-- header -->
  <dashboard-topbar>
    <!-- page title -->
    <h1 class="text-white text-xl font-bold">
      Configurar Ciudad y Actividades
    </h1>

    <!-- saved text -->
    <span class="uppercase text-white text-sm font-bold">
      <ng-container *ngIf="saved; else savingTemplate">
        Guardado <i class="far fa-save"></i>
      </ng-container>
      <ng-template #savingTemplate>
        <i class=" animate-spin fas fa-spinner"></i>
      </ng-template>
    </span>
  </dashboard-topbar>

  <!-- main content of page -->
  <form [formGroup]="form" class="w-full p-8 flex flex-col gap-8">
    <!-- video control -->
    <div dashboard-form-group>
      <!-- label -->
      <h3 dashboard-form-label>
        Imagen de la ciudad
      </h3>

      <!-- input text -->
      <dashboard-upload-image [image]="iconControl.value" (completed)="uploadImage($event)">
      </dashboard-upload-image>
    </div>

    <!-- icon Map image -->
    <div dashboard-form-group>
      <!-- label -->
      <h3 dashboard-form-label>
        Imagen del Mapa
      </h3>

      <!-- input text -->
      <dashboard-upload-image [image]="iconMapControl.value" (completed)="uploadImageMap($event)">
      </dashboard-upload-image>
    </div>

    <ng-container formGroupName="enabledPages">
      <!--  -->
      <div dashboard-form-group>
        <!-- label -->
        <h3 dashboard-form-label>
          Páginas Habilitadas
        </h3>

        <!-- explanation -->
        <span class="text-white text-base">
        </span>

        <!-- introductory video -->
        <label class="flex flex-row gap-4 items-center">
          <input type="checkbox" formControlName="introductoryVideo">
          <span class="text-white uppercase font-semibold">
            Placa Introductoria
          </span>
          </label>

        <!-- introductory video -->
        <label class="flex flex-row gap-4 items-center">
          <input type="checkbox" formControlName="argumentation">
          <span class="text-white uppercase font-semibold">
            Argumentación Principal & Preguntas
          </span>
        </label>

        <!-- introductory video -->
        <label class="flex flex-row gap-4 items-center">
          <input type="checkbox" formControlName="content">
          <span class="text-white uppercase font-semibold">
            Contenido (Video y Podcasts)
          </span>
        </label>

        <!-- introductory video -->
        <label class="flex flex-row gap-4 items-center">
          <input type="checkbox" formControlName="resources">
          <span class="text-white uppercase font-semibold">
            Lecturas y Recursos Online
          </span>
        </label>

        <!-- input text -->
        <label class="flex flex-row gap-4 items-center">
          <input type="checkbox" formControlName="activities">
          <span class="text-white uppercase font-semibold">
            Actividades
          </span>
        </label>

        <!-- input text -->
        <label class="flex flex-row gap-4 items-center">
          <input type="checkbox" formControlName="projectVideo">
          <span class="text-white uppercase font-semibold">
            Placa Maratón del Proyecto
          </span>
        </label>

        <!-- input text -->
        <label class="flex flex-row gap-4 items-center">
          <input type="checkbox" formControlName="manualVideo">
          <span class="text-white uppercase font-semibold">
            Placa descarga manual
          </span>
        </label>

      </div>
      <!-- form group -->
      <div dashboard-form-group *ngIf="enabledPagesControl.controls.activities.value">
        <!-- label -->
        <h3 dashboard-form-label>
          Actividades de la Ciudad
        </h3>

        <!-- explanation -->
        <span class="text-white text-base">
        </span>

        <!-- input text -->
        <label class="flex flex-row gap-4 items-center">
          <input type="checkbox" formControlName="contribution">
          <span class="text-white uppercase font-semibold">
            Tu Contribución
          </span>
        </label>

        <!-- input text -->
        <label class="flex flex-row gap-4 items-center">
          <input type="checkbox" formControlName="clubhouse">
          <span class="text-white uppercase font-semibold">
            Encuentros Clubhouse
          </span>
        </label>

        <!-- input text -->
        <label class="flex flex-row gap-4 items-center">
          <input type="checkbox" formControlName="project">
          <span class="text-white uppercase font-semibold">
            Proyecto docente
          </span>
        </label>
      </div>
    </ng-container>
  </form>
</dashboard-container>
