<dashboard-container>
  <!-- header -->
  <dashboard-topbar>
    <!-- page title -->
    <h1 class="text-white text-xl font-bold">
      Configurar Mensaje de Bienvenida / Ingreso
    </h1>

    <!-- saved text -->
    <span class="uppercase text-white text-sm font-bold">
      <ng-container *ngIf="saved; else savingTemplate">
        Guardado <i class="far fa-save"></i>
      </ng-container>
      <ng-template #savingTemplate>
        <i class=" animate-spin fas fa-spinner"></i>
      </ng-template>
    </span>
  </dashboard-topbar>

  <!-- main content of page -->
  <form [formGroup]="form" class="w-full p-8 flex flex-col gap-8">
    <!-- title -->
    <div dashboard-form-group>
      <!-- label -->
      <label dashboard-form-label>
        Título Introductorio
      </label>

      <!-- explanation -->
      <span class="text-white text-base">
        Texto introductorio en la pestaña de bienvenida.
      </span>

      <!-- input text -->
      <input formControlName="pageTitle" type="text"
        class="px-4 py-4 text-gray-700 bg-white  text-sm  focus:outline-none  w-full ">
    </div>

    <!-- video form control -->
    <div dashboard-form-group>
      <!-- label -->
      <h3 dashboard-form-label>
        Video rector
      </h3>

      <!-- video -->
      <dashboard-upload-video [video]="form.controls.welcomeVideo.value" (completed)="uploadVideo($event)">
      </dashboard-upload-video>
    </div>

    <!-- form group -->
    <div dashboard-form-group>
      <!-- label -->
      <label dashboard-form-label>
        Texto profundidad
      </label>

      <!-- explanation -->
      <span class="text-white text-base">
        Texto que se mostrara después de que un docente haya iniciado sesión, que servirá de guiá en el funcionamiento
        de la aplicación y el contenido de la misma.
      </span>

      <!-- input text -->
      <dashboard-textarea [control]="form.controls.profundityText"></dashboard-textarea>
    </div>
    <!-- form group -->
    <div dashboard-form-group>
      <!-- label -->
      <label dashboard-form-label>
        Carga horaria
      </label>

      <!-- explanation -->
      <span class="text-white text-base">
        Utiliza los diferentes títulos para dar la importancia a los textos.
      </span>

      <!-- input text -->
      <dashboard-textarea [control]="form.controls.workloadText"></dashboard-textarea>
    </div>
  </form>

</dashboard-container>
