<div class="relative w-full aspect-w-9 aspect-h-2 overflow-hidden bg-gray">
  <div class="w-full h-full">
    <div class="relative w-full h-full">
      <!-- audio player in case of audio url -->
      <ng-container *ngIf="audio?.url as url; else noAudio">
        <span class="absolute inset-0 object-cover z-2 w-full h-full">
          <div class="flex w-full h-full items-center justify-center">

            <audio class="" [src]="url" controls></audio>
          </div>
        </span>
      </ng-container>

      <!-- Background in case no audio is available -->
      <ng-template #noAudio>
        <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
          <i class="fas fas fa-microphone text-6xl text-gray-600"></i>
        </span>
      </ng-template>

      <!-- Upload button -->
      <div class="absolute top-6 right-6 z-3">
        <!-- progress bar -->
        <ng-container *ngIf="progress; else uploadInput">
          <div class="px-4 py-2 bg-black  relative overflow-hidden">

            <!-- background progress -->
            <div class="absolute bg-primary top-0 bottom-0 left-0 transition-all duration-150 z-2"
              [ngStyle]="{width: progress?.percentage+'%'}"></div>

            <div
              class="relative h-full text-white text-xs font-bold  flex justify-center items-center z-3 p-2 flex-col">
              {{progress?.percentage}}%
            </div>
          </div>
        </ng-container>

        <!-- template text to upload the asset -->
        <ng-template #uploadInput>

          <!-- input with a upload event -->
          <div class="px-4 py-2 bg-black">
            <label class="cursor-pointer h-full text-white text-md flex justify-center items-center">
              <input class="hidden" type="file" accept="audio/*" (change)="upload($event)">

              <!-- icon -->
              <i class="fas fa-microphone" title="Subir Audio"></i>

              <!-- text -->
              <span class="ml-2 text-xs uppercase font-semibold">
                Subir audio
              </span>
            </label>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
