<dashboard-container>

  <!-- header -->
  <dashboard-topbar>
    <!-- page title -->
    <h1 class="text-white text-xl font-bold">
      Configurar Introducción Temática - Historia
    </h1>

    <!-- saved text -->
    <span class="uppercase text-white text-sm font-bold">
      <ng-container *ngIf="saved; else savingTemplate">
        Guardado <i class="far fa-save"></i>
      </ng-container>
      <ng-template #savingTemplate>
        <i class=" animate-spin fas fa-spinner"></i>
      </ng-template>
    </span>
  </dashboard-topbar>

  <!-- main content of page -->
  <form [formGroup]="form" class="w-full p-8 ">
    <!-- wrapper for content -->
    <div formArrayName="content" class="flex flex-col gap-8">
      <!-- iterate thought all controls -->
      <ng-container *ngFor="let control of historyContent.controls; let idx = index" [formGroupName]="idx">

        <!-- text form control -->
        <div dashboard-form-group *ngIf="control.value.kind === 'HISTORY#TEXT'">
          <!-- label -->
          <label dashboard-form-label>
            Texto
            <button dashboard-form-label-action type="button" (click)="deleteItem(idx)" class="bg-red">
              <i class="fas fa-trash text-white"></i>
            </button>
          </label>

          <!-- input text -->
          <textarea formControlName="text" rows="4"
            class="px-4 py-4 text-gray-700 bg-white text-sm focus:outline-none focus:shadow-outline w-full"></textarea>
        </div>

        <!-- title form control -->
        <div dashboard-form-group *ngIf="control.value.kind === 'HISTORY#TITLE'">
          <!-- label -->
          <label dashboard-form-label>
            Titulo
            <button dashboard-form-label-action type="button" (click)="deleteItem(idx)" class="bg-red">
              <i class="fas fa-trash text-white"></i>
            </button>

          </label>

          <!-- input text -->
          <input type="text" formControlName="title"
            class="px-4 py-4 text-gray-700 bg-white text-sm focus:outline-none focus:shadow-outline w-full">
        </div>

        <!-- IMAGE form control -->
        <div dashboard-form-group *ngIf="control.value.kind === 'HISTORY#IMAGE'">
          <!-- label -->
          <h3 dashboard-form-label>
            Imagen
            <button dashboard-form-label-action type="button" (click)="deleteItem(idx)" class="bg-red">
              <i class="fas fa-trash text-white"></i>
            </button>

          </h3>

          <!-- input text -->
          <dashboard-upload-image [image]="control.value" (completed)="uploadImage($event, idx)">
          </dashboard-upload-image>
        </div>
      </ng-container>
    </div>
  </form>
  <!-- row of actions -->
  <dashboard-footer>
    <button class="bg-black text-white px-4 py-2 font-medium text-sm uppercase" (click)="addTitle()">
      Añadir Titulo
    </button>
    <button class="bg-black text-white px-4 py-2 font-medium text-sm uppercase" (click)="addImage()">
      Añadir Imagen
    </button>
    <button class="bg-black text-white px-4 py-2 font-medium text-sm uppercase" (click)="addText()">
      Añadir Texto
    </button>
  </dashboard-footer>
</dashboard-container>
