<dashboard-container>
    <dashboard-topbar>
        <h1 class="text-white text-xl font-bold">
            Subir Archivo de Proyecto del Jugador
        </h1>
    </dashboard-topbar>

    <form [formGroup]="form" class="w-full p-8 flex flex-col gap-8">

        <!-- form group -->
        <div dashboard-form-group>
            <!-- label -->
            <label dashboard-form-label>
                Ciudad
            </label>

            <!-- input text -->
            <select class="px-4 py-4  bg-white text-sm focus:outline-none focus:shadow-outline w-full"
                formControlName="cityId">
                <option [value]="city.id" *ngFor="let city of cities$|async">
                    {{city.stage}} {{city.name}}
                </option>
            </select>
        </div>

        <!-- form group -->
        <div dashboard-form-group>
            <!-- label -->
            <label dashboard-form-label>
                Tipo de Archivo
            </label>

            <!-- input text -->
            <!-- input text -->
            <!-- input text -->
            <select class="px-4 py-4  bg-white text-sm focus:outline-none focus:shadow-outline w-full"
                formControlName="kind">
                <option value="PROJECT#PDF">PDF</option>
                <option value="PROJECT#MP3">Audio</option>
            </select>
        </div>

        <!-- IMAGE form control -->
        <div dashboard-form-group>
            <!-- label -->
            <h3 dashboard-form-label>
                Documento
            </h3>

            <!-- input text -->
            <dashboard-upload-document [document]="form.controls.file.value" (completed)="uploadDocument($event)">
            </dashboard-upload-document>
        </div>

        <button type="button" (click)="create()" class="px-4 py-2 shadow-lg bg-green text-sm text-white">
            Guardar
        </button>

    </form>

</dashboard-container>